.tpdh-progress-margin {
  margin-top: 32px;
}
.tpdh-card-container {
  padding: 16px;
  /* margin-right: 24px;*/
  /*  width: 304px;*/
  height: 100%;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #c8c5c5;
}
/*.tpdh-card-container:hover{
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.30);
}*/

.tpdh-card-header {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background: #f1f1f1;
}
.tpdh-card-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}
.tpdh-card-view-link {
  color: #1774e5;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.tpdh-card-view-link:hover {
  color: #0e4f9e;
}
.tpdh-card-sub-title {
  color: #464646;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 16px;
}
.tpdh-card-item {
  padding-bottom: 8px;
}
.tpdh-card-item-title {
  color: #1774e5;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  line-height: 24px;
  margin-right: 16px;
}
.tpdh-card-item-title:hover {
  color: #0e4f9e;
}
.tpdh-card-item-desc {
  color: #727272;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-bottom: 8px;
}
.tpdh-card-item-border-bottom {
  border-bottom: 1px solid;
  border-color: #c8c5c5;
  margin-bottom: 8px;
}
.tpdh-card-item-tag {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  border: 1px solid #dedede;
  color: #000;
  margin-right: 16px;
  font-size: 10px;
  font-weight: 400;
}
