# Every process file becomes a component
#
# Debug inputs
#       application_folder: ${{ values.application_folder | dump}}
#              application: ${{ values.application | dump}}
#         bw5_project_name: ${{values.bw5_project_name | dump}}
#              bw5_project: ${{ values.bw5_project | dump}}
#         bw5_project_name: ${{ values.bw5_project_name | dump}}
#  bw5_project_description: ${{ values.bw5_project_description | dump}}
#                  repoUrl: ${{ values.repoUrl | dump}}
#                    owner: ${{ values.owner | dump}}
#                api_files: ${{ values.api_files | dump}}
#          api_files_names: ${{ values.api_files_names | dump}}
#                 db_files: ${{ values.db_files | dump}}
#           db_files_names: ${{ values.db_files_names | dump}}
#            process_files: ${{ values.process_files | dump}}
#      process_files_names: ${{ values.process_files_names | dump}}


apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
    name: ${{values.bw5_project['@_name']}}
    description: ${{values.bw5_project['description']}}
    tags:
      - bw5-project
    links:
      - title: Business Works 5
        url: https://docs.tibco.com/products/tibco-activematrix-businessworks-5-13-0
    annotations:
        github.com/project-slug: ${{ "https://"  + (values.repoUrl | parseRepoUrl).host + "/" + (values.repoUrl | parseRepoUrl).owner + "/" +  (values.repoUrl | parseRepoUrl).repo }}
spec:
    type: service
    lifecycle: production
    owner: group:default/tibco-imported
    system: bw5-projects
{%- if(values.db_files_names.length) %}
    dependsOn:
  {%- for db in values.db_files_names %}
    {%- if(db) %}
        - ${{ "resource:default/" + db | replace(".sharedjdbc", "") }}
    {%- endif %}
  {%- endfor %}
{%- endif %} 
{%- if(values.api_files_names.length) %}
    providesApi:
  {%- for bwapi in values.api_files_names %}
    {%- if(bwapi) %}
      - ${{ bwapi | replace(".wsdl", "") }}
        {%- endif %}
    {%- endfor %}
{%- endif %}



{%- if(values.process_files_names.length) %}
  {%- for process in values.process_files_names %}
    {%- if(process) %}
---    
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
#    name: ${{ process | replace(".process", "") + "_BW5_PROCESS"}}
    name: ${{ "BW5_PROCESS_" + process | replace(".process", "") }}
    description: ${{ process }}
    tags:
      - bw5-process
    links:
      - title: Business Works 5
        url: https://docs.tibco.com/products/tibco-activematrix-businessworks-5-13-0
    annotations:
      github.com/project-slug: ${{ "https://"  + (values.repoUrl | parseRepoUrl).host + "/" + (values.repoUrl | parseRepoUrl).owner + "/" +  (values.repoUrl | parseRepoUrl).repo }}
spec:
    type: bw-5-process
    lifecycle: production
    owner: ${{ values.owner }}
    subcomponentOf: ${{'component:default/' + values.bw5_project['@_name']}}
    # system: ${{values.bw5_project['@_name']}}
    {%- endif %}
  {%- endfor %}
{%- endif %}   

