# Every Database becomes a Resource
#
# Debug inputs
#       application_folder: ${{ values.application_folder | dump}}
#              application: ${{ values.application | dump}}
#         bw5_project_name: ${{values.bw5_project_name | dump}}
#              bw5_project: ${{ values.bw5_project | dump}}
#         bw5_project_name: ${{ values.bw5_project_name | dump}}
#  bw5_project_description: ${{ values.bw5_project_description | dump}}
#                  repoUrl: ${{ values.repoUrl | dump}}
#                    owner: ${{ values.owner | dump}}
#                api_files: ${{ values.api_files | dump}}
#          api_files_names: ${{ values.api_files_names | dump}}
#                 db_files: ${{ values.db_files | dump}}
#           db_files_names: ${{ values.db_files_names | dump}}
#            process_files: ${{ values.process_files | dump}}
#      process_files_names: ${{ values.process_files_names | dump}}

{%- if(values.db_files_names.length) %}
  {%- for db in values.db_files_names %}
    {%- if(db) %}
---    
apiVersion: backstage.io/v1alpha1
kind: Resource
metadata:
#  name: ${{ db | replace(".sharedjdbc", "") + "_DATABASE" }}
  name: ${{ db | replace(".sharedjdbc", "") }}
  description: ${{ db }}
  tags:
    - database
spec:
  type: database
  lifecycle: production
  owner: ${{ values.owner }}
  # dependencyOf: ${{'component:default/' + values.bw5_project['@_name']}}
  # system: ${{values.bw5_project['@_name']}}
    {%- endif %}
  {%- endfor %}
{%- endif %}   
