{
    "name": "TIBCO Flogo Extension for ${{values.category}}",
    "version": "${{values.version}}",
    "category": "${{values.category}}",
    "description": "${{values.description}}",
    "image": "connector/connection/icons/connection.png",
    "tag": "${{values.version}}"
}